.row {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
  }
  .column {
    padding: 10px;
  }
  #admin{
    border: 0.5px solid black;
    background: rgb(242, 222, 184);
  }
  #admin div {
    display: flex;
    justify-content: space-between;
  }
  input{
    width: 350px;
  }
  input#description, input#ingredients{
    height: 100px;
  }
  img {
    
    margin: 50px 60px;
  }
  .b
  {
      width: 70px;
      height: 70px;
  }
  